<!DOCTYPE html>
<!--[if IE 8]><html class="lte-ie9 ie8" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 9]><html class="lte-ie9 ie9" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if gt IE 9]><!--><html xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MRM</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">

</head>
<body>

<div class="header">
	<div class="logo">
		<h1 class="text-logo">Да пребудет с вами сила!</h1>
	</div>
</div>

<div class="body">
	<div class="bar">
	</div>
{% block content %}
{% endblock %}
</div>


<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.migrate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lodash.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hoverIntent.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>

</body>
</html>