{% extends '../../starter/templates/base.html' %}

{% block header %}
	<div class="main">
		<div class="leftpanel">
			<input id="cList" type="text" placeholder="Поиск компании" class="bsheight">
		</div>
		
		<div class="rightpanel">
			<div class="filter">
				<div class="btn-group">
					<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
						Фильтровать&nbsp;
						<span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
						<li><a href="#">фильтр 1</a></li>
						<li><a href="#">фильтр 2</a></li>
						<li><a href="#">фильтр 3</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="bar" id="aside">
		<h2>Компании</h2>
		
		<ul></ul>
	</div>
	
	<div class="main">
		<div class="leftpanel">
			<h1>Компания</h1>
			
			<div id="cInfo">
				<dl class="cInfo"></dl>
				
				<dl class="cInfo hidden"></dl>
				
				<button class="btn btn-mini"><span class="caret"></span></button>
				
				<hr />
			</div>
			
			<div id="cPersons">
				<h2>Персоны компании</h2>
				
				<dl class="pInfo"></dl>
				
				<button class="btn btn-mini dropup"><span class="caret"></span></button>
				
				<hr />
			</div>
			
			<div id="cPP">
				<h2>Проекты-продажи</h2>
				
				<ul class="listholder"></ul>
			</div>
		</div>

		<div class="rightpanel">
			<!--div class="filter">
				<button id="addEventButt" class="btn btn-small"><i class="icon-plus"></i>&nbsp; Добавить событие</button>
			</div>

			<form id="addEventForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="">Результат:</label>

					<div class="controls">
						<select name="" class="bsheight">
							<option value="">В работе</option>
							<option value="">Результат отрицательный</option>
							<option value="">Аргументированный отказ</option>
							<option value="">Неаргументированный отказ</option>
							<option value="">Встреча назначена</option>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="">Категория:</label>

					<div class="controls">
						<input type="text" class="bsheight">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="">Должность:</label>

					<div class="controls">
						<input type="text" class="bsheight">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="">Комментарии:</label>

					<div class="controls">
						<textarea></textarea>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-small">Оприходовать</button>
					</div>
				</div>
			</form-->

			<h2>Контактные события</h2>
			
			<ul class="listholder" id="cevents"></ul>
			
			<a href="#" class="btn btn-mini">Все события</a>
		</div>
	</div>
{% endblock %}