<!DOCTYPE html>
<!--[if IE 8]><html class="lte-ie9 ie8" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 9]><html class="lte-ie9 ie9" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if gt IE 9]><!--><html xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Atatat!</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.migrate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lodash.js"></script>

<script type="text/javascript">
//<![CDATA[
function fixTableHeader() {
	var fakeHead = $('.leftpanel > .fakeheader'),
		tabWrap = $('.leftpanel > .tablewrapper');
	
	fakeHead.find('th').each(function(i) {
		$(this).width(tabWrap.find('thead th').eq(i).width());
	});
	
	tabWrap.css({
		top : fakeHead.position().top + fakeHead.height() - 1
	});
}

function fixListwrap() {
	var listWrap = $('.rightpanel > .listholder');
	
	listWrap.css({
		top : 77
	});
}

function openForm() {
	$('#addEventForm').slideDown('fast', function() {
		$('#addEventButt').prop('disabled', true);
	});
	
	$('.rightpanel > .listholder').animate({
		top : 364
	}, 'fast');
}

function closeForm() {
	$('#addEventForm').slideUp('fast', function() {
		$('#addEventButt').prop('disabled', false);
	});
	
	$('.rightpanel > .listholder').animate({
		top : 77
	}, 'fast');
}

$(function() {
	$(window).on('load resize', fixTableHeader);
	
	$('#addEventButt').prop('disabled', false).click(openForm);
	
	$('#addEventForm button').click(function(e) {
		e.preventDefault();
		closeForm();
	});
	
	$('.tablewrapper TBODY > TR').click(function() {
		var el = $(this),
			fadespeed = 400;
		
		if (el.is('.active')) return false;
		
		el.siblings().removeClass('active').end().addClass('active');
		
		setTimeout(function() {
			$('.rightpanel > .listholder LI:first-child').appendTo('.rightpanel > .listholder');
		}, fadespeed / 2);
		
		closeForm();
		
		$('.rightpanel > H2').animate({
			opacity : 0.1
		}, fadespeed / 2, function() {
			$(this).animate({
				opacity : 1
			}, fadespeed).text(el.find('TD:first-child').text());
		});
		
		$('.rightpanel > .listholder LI').animate({
			opacity : 0.1
		}, fadespeed / 2, function() {
			$(this).animate({
				opacity : 1
			}, fadespeed);
		});
	});
	
	//console.log();
});
//]]>	
</script>

</head>
<body>

<div class="header">
	<div class="logo">
		<h1 class="text-logo">Да пребудет с вами сила!</h1>
	</div>
</div>

<div class="body">
	<div class="bar">
		
	</div>
	
	<div class="main">
		<div class="leftpanel">
			<div class="filter">
				<input type="text" placeholder="Вводите!" class="bsheight">
				
				<div class="btn-group">
					<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
						Фильтровать&nbsp;
						<span class="caret"></span>
					</button>
					
					<ul class="dropdown-menu">
						<li><a href="#">фильтр 1</a></li>
						<li><a href="#">фильтр 2</a></li>
						<li><a href="#">фильтр 3</a></li>
					</ul>
				</div>
				
				<div class="btn-group">
					<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
						Упорядочить&nbsp;
						<span class="caret"></span>
					</button>
					
					<ul class="dropdown-menu">
						<li><a href="#">ранжир 1</a></li>
						<li><a href="#">ранжир 2</a></li>
						<li><a href="#">ранжир 3</a></li>
					</ul>
				</div>
			</div>
			
			<div class="fakeheader">
				<table class="table table-striped table-condensed table-border">
					<thead>
					<tr>
						<th><span class="th-text">Компания</span></th>
						<th><span class="th-text">События</span></th>
						<th><span class="th-text">Foo</span></th>
						<th><span class="th-text">Bar</span></th>
						<th><span class="th-text">Unmoeglig</span></th>
					</tr>
					</thead>
				</table>
			</div>
			
			<div class="tablewrapper">
				<table class="table table-striped table-condensed table-border table-hover">
					<thead>
					<tr>
						<th><div class="th-wrap"><span class="th-text">Компания</span></div></th>
						<th><div class="th-wrap"><span class="th-text">События</span></div></th>
						<th><div class="th-wrap"><span class="th-text">Foo</span></div></th>
						<th><div class="th-wrap"><span class="th-text">Bar</span></div></th>
						<th><div class="th-wrap"><span class="th-text">Unmoeglig</span></div></th>
					</tr>
					</thead>
					
					<tbody>
					<tr class="active">
						<td>AMT Group</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Aspen</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>BCC</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cognitive Technologies</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Columbus IT Partner</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>CUSTIS</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>EMC</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Epicor</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>GMCS</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>IBS</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>ICL-КПО ВС</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>IFC</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Inline Technologies</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>IT Alliance</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>ITG (Inline Technologies Group)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>kpi</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Microsoft</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>NetSuite</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>NVision</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Oracle</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>R-Style</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>SalesForce</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>SAP</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Sitronics</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>SugarCRM</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Terrasoft</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>TopS BI</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Verysell</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Авирса</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Ай-Теко</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>АйТи</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Борлас</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Галактика</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>ИКТ-Консалт</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Инлайн Груп</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Инфоконт</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Инфосистемы Джет</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Корус Консалтинг</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Крок</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Ланит</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Люксофт</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Микротест</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>НКК (Национальная компьютерная корпорация)</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Оптима</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>ОТР</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Рамэк-ВС</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>РДТЕХ</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>САПЕРИОН</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Сервис Плюс</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Си Ти Ай</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Сибинтек</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Систематика</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>СКБ Контур</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Стинс Коман</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Татинтек</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Техносерв</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Форс</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Центр финансовых технологий</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Энвижн Груп</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="rightpanel">
			<div class="filter">
				<button id="addEventButt" class="btn btn-small"><i class="icon-plus"></i>&nbsp; Добавить событие</button>
			</div>
			
			<h2>AMT Group</h2>
			
			<form id="addEventForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="">Результат:</label>
					
					<div class="controls">
						<select name="" class="bsheight">
							<option value="">В работе</option>
							<option value="">Результат отрицательный</option>
							<option value="">Аргументированный отказ</option>
							<option value="">Неаргументированный отказ</option>
							<option value="">Встреча назначена</option>
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Категория:</label>
					
					<div class="controls">
						<input type="text" class="bsheight">
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Должность:</label>
					
					<div class="controls">
						<input type="text" class="bsheight">
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Комментарии:</label>
					
					<div class="controls">
						<textarea></textarea>
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-small">Оприходовать</button>
					</div>
				</div>
			</form>
			
			<ul class="listholder">
				<li>
					<dl>
						<dt>Дата:</dt>
						<dd>2013.03.27</dd>
						
						<dt>Результат:</dt>
						<dd>Аргументированный отказ</dd>
						
						<dt>Категория:</dt>
						<dd>IT-Специалист</dd>
						
						<dt>Должность:</dt>
						<dd>IT-Специалист</dd>
						
						<dt>Инфо:</dt>
						<dd>10.04 — сказал, что такого уровня услуги не нужны; <br> 04.04 — просил перезв. на след неделе; <br> 02.04 — нет на месте</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Дата:</dt>
						<dd>2013.03.25</dd>
						
						<dt>Результат:</dt>
						<dd>В работе</dd>
						
						<dt>Категория:</dt>
						<dd>Коммерческий директор / директор по развитию бизнеса</dd>
						
						<dt>Должность:</dt>
						<dd>Заместитель генерального директора по торговле</dd>
						
						<dt>Инфо:</dt>
						<dd>Булгаков: Может быть нам лучше будет пообщаться на конференции "Аппаратная платформа Oracle: высочайшая производительность для Ваших информационных систем", которая состоится 1 марта. Все будет предметно и интересно. В итоге перенес. 11.03. — всю неделю от нас бегает.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Дата:</dt>
						<dd>2013.03.26</dd>
						
						<dt>Результат:</dt>
						<dd>В работе</dd>
						
						<dt>Категория:</dt>
						<dd>Коммерческий директор</dd>
						
						<dt>Должность:</dt>
						<dd>Заместитель генерального директора по торговле</dd>
						
						<dt>Инфо:</dt>
						<dd>—</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Дата:</dt>
						<dd>2013.03.20</dd>
						
						<dt>Результат:</dt>
						<dd>В работе</dd>
						
						<dt>Категория:</dt>
						<dd>Административный персонал</dd>
						
						<dt>Должность:</dt>
						<dd>Head of department</dd>
						
						<dt>Инфо:</dt>
						<dd>Ждём</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Дата:</dt>
						<dd>2013.03.25</dd>
						
						<dt>Результат:</dt>
						<dd>В работе</dd>
						
						<dt>Категория:</dt>
						<dd>Коммерческий директор / директор по развитию бизнеса</dd>
						
						<dt>Должность:</dt>
						<dd>Заместитель генерального директора по торговле</dd>
						
						<dt>Инфо:</dt>
						<dd>Булгаков: Может быть нам лучше будет пообщаться на конференции "Аппаратная платформа Oracle: высочайшая производительность для Ваших информационных систем", которая состоится 1 марта. Все будет предметно и интересно. В итоге перенес. 11.03. — всю неделю от нас бегает.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Дата:</dt>
						<dd>2013.03.26</dd>
						
						<dt>Результат:</dt>
						<dd>В работе</dd>
						
						<dt>Категория:</dt>
						<dd>Коммерческий директор</dd>
						
						<dt>Должность:</dt>
						<dd>Заместитель генерального директора по торговле</dd>
						
						<dt>Инфо:</dt>
						<dd>Выбран день для встечи.</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>